{# index.twig #}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{#
{% form_theme form 'Form/form_div_layout.twig' %}
#}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %} 

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>{{ '店舗登録画面'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <form method="post" action="{{ url('store_entry') }}" novalidate class="h-adr">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            {{ form_label(form.name, '店舗名', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-halfInput{{ has_errors(form.name) ? ' error' }}">
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                {{ form_widget(form.address.pref) }}
                                {{ form_errors(form.address.pref) }}
                            </div>
                            <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                {{ form_errors(form.address.addr01) }}
                            </div>
                            <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                {{ form_errors(form.address.addr02) }}
                            </div>
                        </dd>
                    </dl>
                </div>
            </form>
        </div>
    </div>
{% endblock %}